<!-- Start of Flickr Badge -->

<div class="gallery_box">
  <div class="fancy photos_title">
    Team Photos
  </div>
    
  <div class="gallery">
    <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=10&display=latest&size=l&layout=h&source=user_tag&user=49714190%40N05"></script>
  </div>
</div>
<!-- End of Flickr Badge -->

