.food_menu
  .head
    Martini List
  .note
    Domestic Beer 4.50 / Imported Beer 5.50
  %ul.drinks_list.rounded_sm><
    %li><
      The Terminal Martini
      %ul.ingredients><
        %li><
          Blueberry Vodka
        %li><
          Triple Sec White
        %li><
          Cranberry Juice
        %li><
          Grenadine
        %li><
          Candy Cane
    %li><
      Blue Cotsmo
      %ul.ingredients
        %li><
          Citron Vodka
        %li><
          Blue Curacao
        %li><
          Triple Sec
        %li><
          White Cranberry Juice
        %li><
          Splash of Lime Juice
    %li><
      Latte Martini
      %ul.ingredients><
        %li><
          Coffee
        %li><
          Vanilla Vodka
        %li><
          Godiva White Chocolate Liquor
        %li><
          Baileys
        %li><
          Skim Milk
        %li><
          Garnish with Whipped Cream
    %li><
      Fiesta Martini
      %ul.ingredients><
        %li><
          Orange Vodka
        %li><
          Bananna Liquor
        %li><
          Amaretto
        %li><
          Cranberry Juice
        %li><
          Orange Juice
        %li><
          Lime Juice
        %li><
          Grenadine
        %li><
          Garnish with Strawberry
        
    %li><
      Margaritta Martini
      %ul.ingredients><
        %li><
          Tequila
        %li><
          Triple Sec
        %li><
          Lime Juice
        %li><
          Salt Rim
        %li><
          Garnish with Lime Wedge

    %li><
      Paris Dream
      %ul.ingredients><
        %li><
          Vodka
        %li><
          Chambord
        %li><
          Pineapple Juice
        %li><
          Splash of Lime Juice
        %li><
          Garnish with Pineapple
  %ul.drinks_list.rounded_sm><
    %li><
      Melontini
      %ul.ingredients><
        %li><
          Vodka
        %li><
          Melon Liquor
        %li><
          Lime Juice
    %li><
      Yummy Martini
      %ul.ingredients><
        %li><
          Vodka
        %li><
          Ripple Butter Schnapps
        %li><
          Sour Apple
        %li><
          Apple Juice
        %li><
          Garnish with Cherry
    %li><
      Pink Lychee Martini
      %ul.ingredients><
        %li><
          Vodka
        %li><
          Soho Lychee
        %li><
          Pink Alize
        %li><
          White Cranberry Juice
        %li><
          Garnish with Lychee
    %li><
      Canadian Martini
      %ul.ingredients><
        %li><
          Rye
        %li><
          Cherry Brandy
        %li><
          Grape Juice
        %li><
          Garnish with Lemon Edge
    %li><
      Chocolatini
      %ul.ingredients><
        %li><
          Vanilla Vodka
        %li><
          Creme De Cacao White
        %li><
          Creme De Cacao Dark
        %li><
          Garnish with Red Cherry
    %li><
      Beer
      %ul.ingredients
        %li><
          Super Bock, Sagres [imported]
        %li><
          Canadian,Coors Light,Bugweiser [domestic]
        %li><
          Assorted Mircobrews
    %li><
      Wine
      %ul.ingredients><
        %li><
          Assorted Red Vintages and Refreshing Whites

