.gallery_box

  .fancy.photos_title
    Team Photos
  .gallery#team_photos

  .fancy.photos_title
    Events
  .gallery#event_photos

  .fancy.photos_title
    Drinks
  .gallery#drink_photos
  
= stylesheet_link_tag "slimbox"
= javascript_include_tag "slimbox-1.71/js/slimbox","pictures"
