.food_menu
  .head
    Wine List
  .note
    Domestic Beer 4.50 / Imported Beer 5.50
    %ul.menu><
      White Wine	Glass / Bottle
      %li><
        Albernoas 2007 Portugal 	6 	25
      %li><
        L’arista Chardonnay 2008 Chile	6.50	26
      %li><
        L’arista Sauvignon Blank 2008 Chile 	6.50	26
      %li><
        Mateus 2008 Portugal Rose Wine	6.50	26
      %li><
        Caves Vale do Rodo 2008 Portugal	7	 27
      %li><
        Fontamara Pinot Grigio 2009 Italy		30
      %li><
        Caldas 2007 Portugal		35
      %li><
        Teanum Falanghina 2007 Italy		35
      %li><
        Via Latina 2008 Portugal      Green Wine		38
      %li><
        Quinta da Sapeira 2008 Portugal    Rose Wine		 40
      %li><
        Alvarinho 2008 Portugal		42
      %li><
      
    %ul.menu><
      Red Wine	Glass / Bottle
      %li><
        Albernoas 2007 Portugal	6	26
      %li><
        L’arista Merlot 2008 Chile	 6.50	 28
      %li><
        L’arista Cabernet Sauvignon	  6.50	28  
      %li><
        Caves Vale do Rodo 2008  Portugal	 7	27
      %li><
        ACON Roble 2007 Spain		40
      %li><
        Ninfa 2006 Portugal		41
      %li><
        Cassa 2007 Portugal		 55
      %li><
        Herardo do Meio  2004 Portugal		98
      %li><
        Barbaresco DOCG Rabaja Venduno 2000  Italy		140
      %li><
        Barolo DOCG Monvigliero Verduno 2001 Italy		155
      %li><
        Amarone della Valp. DOC ‘La Marega’ Le Selette 2004  Italy		155
      %li><
        Brunello di Montalcino DOCG Paradiso di Frassina 2001 Italy		 225
      %li><
        Barca Velha Portugal		 375


