%p
  %label{:for => "user_name"} Name:
  = f.text_field :name
%p
  %label{:for => "user_email"} Email:
  = f.text_field :email
%p
  %label{:for => "user_password"} Password:
  = f.text_field :password
%p
  %label{:for => "user_password_confirmation"} Password:
  = f.text_field :password_confirmation
